@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root)::view-transition-new(root) {
    animation-duration: 5s;
}

:root {
    font-size: 16px;
    font-family: Open Sans;

    --light-blue: #74b9ff;
    --blue: #0984e3;
    --error: #e74c3c;
    --success: #2ecc71;
    --yellow: #f1c40f;
    --clouds: #ecf0f1;
    --white: #ffffffff;
    --black: #2f3640;
    --silver: #777;
    --primary-red: #ed3237;
    --primary: var(--primary-red);
    --light-primary: #ff6e1a;
    --primary-text: var(--black);
    --primary-surface: var(--white);
    --primary-surface-text: var(var(--black));
    --body-background: var(var(--clouds))
}

body {
    background-color: var(--body-background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}

.link {
    color: var(--primary-text);
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (width < 600px) {
    .logo {
        font-size: 1.25rem;
    }
}

.logo-icon {
    width: 1.5rem;
    height: 1.5rem;
    animation: logo-icon 1s infinite alternate linear;
    transform: translateY(-.5rem);
}

.logo-icon__container {
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
}

@keyframes logo-icon {
    0% {
        transform: translateY(-.5rem) rotate(45deg) translateX(1rem);
    }

    100% {
        transform: translateY(-.5rem) rotate(-45deg) translateX(-1rem);
    }
}

.title {
    font-size: 5rem;
}

.screen__btn-close {
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    border: none;
    background-color: var(--error);
    cursor: pointer;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: .5rem;

    & .icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--clouds);
    }
}

.form {
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--primary-surface);
    border-radius: .5rem;
    padding: 3rem 1.5rem;
    background-color: white;

    & .form__title {
        font-size: 2rem;
    }

    & .form__input-container {
        margin: 2rem 0 1.5rem;
        display: grid;
        gap: 1.5rem;
        color: #6b6b6b;
    }

    & .form__label {
        width: 100%;
        display: grid;
        grid-template-areas: "input";
    }

    & .form__input {
        font-family: inherit;

        grid-area: input;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #d7d0d0;
        padding: .7rem 1.5rem;
        color: #6b6b6b;
    }

    & .form__select {
        background-color: transparent;
    }

    & .form__input:focus+.form__text,
    .form__input:not(:placeholder-shown)+.form__text {
        height: min-content;
        background-color: white;
        transform: translateY(-50%) scale(.7);
    }



    & .form__text {
        grid-area: input;
        z-index: 90;
        width: max-content;
        height: 100%;
        margin-left: 1rem;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        transform-origin: left center;
        transition: transform .3s;
    }

    & .form__error-message {
        color: var(--error);
    }

    & .login-extra {
        display: flex;
        justify-content: space-between;
    }

    & .login-remember-container {
        display: flex;
        gap: .5rem;
    }

    & .login-not-have-account {
        display: block;
        text-align: center;
        margin: .5rem 0;
    }

    & .register-extra {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & .form__change-im {
        cursor: pointer;
        font-size: .8rem;
        text-align: center;
        margin: 0;
    }

    & .form__change-im:hover {
        text-decoration: underline;
        color: var(--primary);
    }
}

@media (width < 512px) {
    .form {
        width: auto;
        padding: 0;
        box-shadow: none;
        background-color: transparent;

        & input {
            width: auto;
        }
    }

    .screen__btn-close {
        right: 1rem;
        top: 1rem;
    }
}

.btn {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background-color .3s, color .3s;

    & svg {
        transition: color 10s, fill 10s;
    }
}

.btn:disabled {
    cursor: default;
}

.btn:disabled:hover {}

.btn:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn-normal {
    background-color: var(--primary);
    color: var(--white);

    & svg {
        fill: var(--white);
    }
}

.btn-outline {
    background-color: transparent;
    border: .1rem solid var(--primary);
    color: var(--primary);

    & svg {
        fill: var(--primary);
    }
}

.btn-normal:hover {
    background-color: var(--light-primary);
}

.btn-normal:disabled:hover {
    background-color: var(--primary);
    color: var(--white);

    & svg {
        fill: var(--white);
    }
}

.btn-outline:hover {
    background-color: var(--primary);
    color: var(--white);

    & svg {
        color: var(--white);
        fill: var(--white);
    }
}

.btn-outline:disabled:hover {
    background-color: transparent;
    border: .1rem solid var(--primary);
    color: var(--primary);

    & svg {
        fill: var(--primary);
    }
}

.btn-normal:focus {
    outline: .2rem solid var(--light-primary);
}

.btn-outline:focus {
    outline: .2rem solid var(--light-primary);
}

@media (width < 600px) {
    .main__filters {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }
}

.product__filter-range-price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.center {
    display: grid;
    place-items: center;
}

.product__filter-range-input {
    width: 128px;
    padding: .25rem .5rem;
    border-radius: 0.375rem;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.error-message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .error-message__container {
        padding: 1rem 2rem;
        border-radius: .375rem;

        & p {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.not-found {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.chatbot {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 90;
    font-size: 1rem;

    & .chatbot__start {
        width: 4rem;
        height: 4rem;
        background-color: var(--primary-red);
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;

        & svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--white);
        }
    }

    & .chatbot__start:hover {
        background-color: var(--light-primary);
    }

    & .chatbot__start:active {
        /* outline: .25rem solid var(--light-primary); */
        scale: 1.25;
    }

    & .chatbot__messages {
        width: 18rem;
        height: 20rem;
        position: absolute;
        top: -20rem;
        right: 0;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }

    & .chatbot__close-message {
        border: none;
        outline: none;
        background-color: var(--primary);
        position: absolute;
        right: -1rem;
        top: -1rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        padding: .25rem;
        cursor: pointer;

        & svg {
            width: 1.25rem;
            height: 1.25rem;
            fill: var(--white);
        }
    }

    & .chatbot__close-message:hover {
        background-color: var(--light-primary);
    }

    & .chatbot__close-message:active {
        /* outline: .25rem solid var(--light-primary); */
        scale: 1.25;
    }

    & .chatbot__messages-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: .75rem;
        background-color: var(--primary-surface);
        overflow: auto;
        border-radius: .375rem;
    }

    & .chatbot__message {
        padding: .25rem;
        border: 1px solid var(--primary-text);
        border-radius: .25rem;
    }

    & .chatbot__link {
        text-align: center;
    }

    & .chatbot__options {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        border: 1px solid var(--primary-text);
        border-radius: .25rem;
    }

    & .chatbot__option {
        font-weight: bold;
    }

    & .chatbot__option:hover {
        color: var(--primary);
        text-decoration: underline;
        cursor: pointer;
    }
}

@media (width < 512px) {

    .chatbot {
        font-size: .75rem;

        & .chatbot__messages {
            width: 12.5rem;
            height: 15rem;
            top: -15rem;
        }
    }
}

.sub-title {
    font-size: 2rem;
    font-weight: bold;
}

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 1rem;
}

.page-loader {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    display: grid;
    place-items: center;
}

.page {
    padding: 7.5rem 0;
    min-height: calc(100vh - 30rem);
}

.z-max {
    z-index: 999999999 !important;
}

.navbar__categories-item {

    & .navbar__navbar-item {
        text-transform: capitalize;
        cursor: pointer;
    }

    & div {
        width: 100%;
        gap: .5rem;
        background-color: white;
        padding: 1rem;
        position: absolute;
        margin-top: 3.5rem;
        z-index: 9999;
        left: 0;
        text-align: center;
        font-size: 1.25rem;
        /* grid-template-columns: 1fr 1fr 1fr; */
        place-items: center;
    }

    & ul {
        max-width: 512px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .75rem;
        & li .navbar__category-link {
            color: #2f3640 !important;
            text-transform: capitalize;
            float: left;
            display: block;
            cursor: pointer;
            padding: 0 1rem;
        }

        & li:hover .navbar__category-link {
            color: #e74c3c!important;
            text-decoration: underline;
        }
    }
}

.navbar__categories-item:hover {
    & div {
        display: grid;
    }
}

/* .navbar__navbar-checkbox:checked {

} */