.layout {
    min-height: calc(100vh - 7.5rem);
    max-width: 1280px;
    margin: auto;
    padding: 10rem 1rem;
    /* overflow: hidden; */
}

@media (width < 512px) {
    .layout {
        padding: 7.5rem 1rem;
    }
}