.order-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-card__state-cancel {
    color: var(--error);
}

.order-card__state-wait {
    color: var(--yellow);
}

.order-card__state-confirmed {
    color: var(--success);
}

.order-card__state-ready {
    color: var(--black);
}

.order-card {
    width: 15rem;
    height: 10rem;
    background-color: white;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: .375rem;

    & button {
        width: 100%;
        padding: .5rem 0;
    }
}